@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;;
}
.App{

}
.nav{
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  color: #fff;
  font-weight: 500;
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo-img{
  margin-right: 8px;
}