@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  color: #2B283A;
}
.nav{
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  color: #fff;
  font-weight: 500;
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo-img{
  margin-right: 8px;
}
.card-list{
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.card{
  display: flex;
  gap:20px;
  align-items: center;
  font-size: 11px;
}
.card-img{
  height: 168px;
  width: 125px;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.location{
  text-transform: uppercase;
  letter-spacing: 0.10em;
  margin-right: 10px;
}
.location > img{
  margin-right: 6px;
}
.google-maps-url{
  color: #918E9B;
}
.card-title{
  font-size: 24px;
  font-weight: 700;
  margin: 6px 0 16px 0;
}
.card-date{
  font-weight: 700;
}
.card-description{
  width: 320px;
  margin-top: 6px;
  line-height: 1.5;
}